.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-menu {
  position: absolute;
  padding-left: 0;
  z-index: 1;
  top: calc(100% + 4px);
  right: 0;
  width: 160px;
  background-color: var(--white-color);
  border-radius: 2px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 3px;
  top: -27px;
}

.header__navbar-user-menu::after {
  position: absolute;
  right: 0;
  top: -16px;
  width: 56%;
  height: 20px;
  content: "";
  display: block;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #e8e8e8;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 100;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  border-left: 1px solid #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR Code */

.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}

.header__qr::before {
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}
.header__qr-link:nth-child(2) {
  margin-right: 11px;
}

.header__qr-download-img {
  height: 16px;
}

.header__notify {
  position: absolute;
  z-index: 1;
  top: 118%;
  width: 404px;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
  will-change: animation, transform;
}

.header__notify::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -16px;
  width: 90px;
  height: 20px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  user-select: none;
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item {
  display: flex;
}
.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 12px;
}
.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notify-description {
  display: block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #6c757d;
  margin-top: 4px;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 0;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  display: block;
}

/* Authen modal */

.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
  user-select: none;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: 1px 16px 0;
  border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header with search */

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

/* Header search */
.header__search {
  height: 40px;
  flex: 1;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  position: absolute;
  margin-top: 18px;
  right: 0;
  top: calc(100% - 4px);
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #999;
  border-radius: 2px;
  padding-left: 0;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
  position: absolute;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  color: #fb6445;
  cursor: pointer;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

/* Search history */

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px #999;
  display: none;
  overflow: hidden;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding: 0;
  margin: 6px 0 0;
  list-style: none;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 38px;
  display: block;
  color: var(--text-color);
}

/* Header cart */
.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin-top: 6px 0;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 10px);
  right: -5px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
}

.header__cart-list::after {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -29px;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-no-cart-img {
  width: 54%;
  display: none;
}

.header__cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  top: -8px;
  right: -4px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
}
.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid var(--border-color);
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  background-color: #f05d41;
}

/* App Container */

.app__container {
  background-color: #f5f5f5;
}

.app__content{
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 0;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 9px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 7px;
  transform: translateY(calc(-50% - 1px));
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 4px 16px;
  display: block;
  transition: right linear 0.1s;
  right: 0;
}

.category-item__link:hover {
  color: var(--primary-color);
  right: -4px;
}

/* Home sort + filter */

.home-filter{
  background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label{

}

.home-filter__page{

}

.home-filter__page-num{

}

.home-filter__page-current{

}

.home-filter__page-control{

}

.home-filter__page-btn{

}